.sc-fAjcbJ.iYiELi
.sc-PLyBE.bMbqcN
  .sc-caSCKo.OLMic
    %section.sc-gCUMDz.bmCGmC
      %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-dTsoBL.iphkiG{"data-test" => "transaction-buy-site-title"} 購入内容の確認
    %section.sc-gCUMDz.bmCGmC
      .sc-jtHxuu.rUEJc
        .sc-blIhvV.cVKXI
          %figure.style_thumbnail__1zhSo.style_xlarge__353oT
            %img{:alt => "ペンタブレット Wacom INTUOS DRAW", :src => "https://static.mercdn.net/item/detail/orig/photos/m14831090423_1.jpg?1594026792"}/
        .sc-bYTsla.iwQUSc
          %p.sc-dlyikq.gBcIlp ペンタブレット Wacom INTUOS DRAW
          %p.sc-glUWqk.DJFXS
            %span.sc-fFTYTi.MYhFf 送料込み (税込)
            %span.sc-bTiqRo.jdlhBN ¥4,900
    %section.sc-gCUMDz.bmCGmC
      .sc-bEufUU.eXghme
        %span 支払い金額
        %span.sc-gFXMyG.guekE{"data-test" => "transaction-buy-price-label"} ¥4,900
      %label.sc-jOBXIr.hHLPfl
        %label.sc-dzOgQY.gCYkUs{:disabled => "disabled"}
          %span.style_controls__1fs4W.style_checkbox__wYA4k.style_disabled__UYaJc.sc-kIWQTW.eFuWAK{"data-test" => "transaction-buy-mercari-point-checkbox"}
            %span.style_input__ck-NJ
              %input{:disabled => "disabled", :name => "use-mercari-points", :type => "checkbox", :value => ""}/
              %svg{"aria-hidden" => "true", :fill => "#ffffff", "fill-rule" => "evenodd", :height => "16", :viewbox => "0 0 24 24", :width => "16"}
                %path{:d => "M9.21,18.09a1.52,1.52,0,0,1-1.09-.44l-5-5a.71.71,0,0,1,0-1,.69.69,0,0,1,1,0l5,5a.26.26,0,0,0,.33-.07L19.92,6.11a.7.7,0,0,1,1,1L10.43,17.58A1.72,1.72,0,0,1,9.21,18.09Z"}
          %img.sc-gLdKKF.eOmqNQ{:alt => "Mercari Point Icon", :src => "https://web-jp-assets.mercdn.net/_next/static/images/icon-mercari-point-1da76e8760639b3454f14e979fbb7ca1.svg"}/
          %p.sc-gCwZxT.gebRjl ポイント
        %p.sc-jOVcOr.jgsuyq 所持ポイント : P0
      %label.sc-jOBXIr.hHLPfl
        %label.sc-dzOgQY.gCYkUs{:disabled => "disabled"}
          %span.style_controls__1fs4W.style_checkbox__wYA4k.style_disabled__UYaJc.sc-kIWQTW.eFuWAK
            %span.style_input__ck-NJ
              %input{:disabled => "disabled", :name => "use-balance", :type => "checkbox", :value => ""}/
              %svg{"aria-hidden" => "true", :fill => "#ffffff", "fill-rule" => "evenodd", :height => "16", :viewbox => "0 0 24 24", :width => "16"}
                %path{:d => "M9.21,18.09a1.52,1.52,0,0,1-1.09-.44l-5-5a.71.71,0,0,1,0-1,.69.69,0,0,1,1,0l5,5a.26.26,0,0,0,.33-.07L19.92,6.11a.7.7,0,0,1,1,1L10.43,17.58A1.72,1.72,0,0,1,9.21,18.09Z"}
          %p.sc-gCwZxT.gebRjl メルペイ残高の使用
        %p.sc-jOVcOr.jgsuyq 残高 : ¥0
      .sc-RWGNv.bqHoYF
        同時に選択した場合、
        / 
        メルカリポイント → メルペイ残高
        / 
        の順でお支払いに適用されます
    %section.sc-gCUMDz.bmCGmC
      .sc-gQNndl.jNxOgc
        .sc-MYvYT.gWjIbp
          %h3.sc-RmnOB.ktTdLS 支払い方法
        %a.sc-jPPmml.fEtjqI{"data-test" => "transaction-buy-method-registering-link", :href => "/jp/transaction/card/m14831090423/"}
          %svg{"aria-hidden" => "true", :fill => "#0095ee", "fill-rule" => "evenodd", :height => "16", :viewbox => "0 0 24 24", :width => "16"}
            %path{:d => "M17.51,11.3H12.7v-5a.7.7,0,0,0-1.4,0v5h-5a.7.7,0,0,0,0,1.4h5v4.81a.7.7,0,0,0,1.4,0V12.7h4.81a.7.7,0,0,0,0-1.4Z"}
            %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
          %span.sc-ckYZGd.eUBzwV 登録してください
    %section.sc-gCUMDz.bmCGmC
      .sc-eweMDZ.entwBX
        .sc-cnTzU.cEhPfx
          %h3.sc-dXLFzO.hbstLz 配送先
          %a.style_guidelink__pHa13.style_medium__Oms75{:href => "/jp/transaction/address/m14831090423/"}
            変更する
            %svg.style_right__2qI2e{"aria-hidden" => "true", :fill => "#0095ee", "fill-rule" => "evenodd", :height => "16", :viewbox => "0 0 24 24", :width => "16"}
              %path{:d => "M9,19a.7.7,0,0,1-.49-.2.69.69,0,0,1,0-1l5.62-5.63a.28.28,0,0,0,.09-.21.27.27,0,0,0-.09-.2L8.6,6.19a.7.7,0,1,1,1-1l5.58,5.58A1.71,1.71,0,0,1,15.66,12a1.73,1.73,0,0,1-.49,1.2L9.54,18.8A.74.74,0,0,1,9,19Z"}
        .sc-dAOnuy.eQDdrk{"data-test" => "transaction-buy-address-text"}
          %p 〒577-0063
          %p 大阪府 東大阪市 川俣1-1-9 グランメール高井田404号室
          %p 町田 一真
    %section.sc-gCUMDz.bmCGmC
      .sc-gjAXCV.bCdEhH
        %p.sc-dOkuiw.OVCPH
          郵便局/コンビニ受取をご希望の方は、購入後に
          %b.sc-hZeNU.frksgk> 取引画面
          から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
        %p.sc-jGFFOr.fZPjZN 支払い方法の入力を完了してください。
        %button.style_button__3yWFH.common_fontFamily__3-3Si.style_primary__Mg3zL.style_medium__3wTQ5.style_legacy__2D0U0.sc-hMjcWo.euLOuZ{"data-test" => "transaction-buy-purchase", :disabled => "disabled", :tabindex => "-1", :type => "button"} 購入する
    .sc-dRCTWM.eTmwmU
      .sc-cgHJcJ.lmKtus
        .sc-dvpmds.lcCLdb
          %p.sc-dwztqd.iEJGQr{"data-test" => "modal-title"} こちらの商品の購入には本人確認が必要になります
          .sc-fgrSAo.dtEqby
            .sc-bOCYYb.kLpsFH{"data-test" => "modal-description-inner"} アプリから本人確認の手続きをお願いします。
        .sc-clBsIJ.hRwirY{"data-test" => "modal-buttons"}
          %button.sc-eMRERa.sc-eqPNPO.dqgnlG 閉じる
