.main {
  background: #f8f8f8;
}

section {
    display: block;
}

.firstVisual {
  width: 100%;
  height: 560px;
  // background-image: url(./material/pict/bg-mainVisual-pict_pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
  &__content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;
    &__subtitle {
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
      }
    &__text {
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 18px;
    color: #fff;
    line-height: 1.77778;
    margin: 16px 0 0 0;
      }
    p.content__text {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      }
  &__btn {
    display: flex;
    margin: 24px 0 0 0;
    .apple {
      width: 150px;
      // height: 100px;
      margin: 13px;
     }
    .google {
      width: 180px;
      // height: 100px;
     }
    }
  }
}


// .firstVisual__content__btn {
//   display: flex;
//   margin: 24px 0 0 0;
// }

