.firstVisual__content
  %h2.firstVisual__content__subtitle
    %br/
    人生を変えるフリマアプリ
  %p.firstVisual__content__text
    FURIMAはだれでもかんたんに出品・購入できる
    %br/
    フリマアプリです
  .firstVisual__content__btn
    %a.apple{ href: "#"}
      %img{ src: "assets/material/img/apple_btn.png"}/
    %a.google{ href: "#"}
      %img{ src: "assets/material/img/google-play-badge.png"}/
  .picture