.firstVisual__content
  %h2.firstVisual__content__subtitle
    %br/
    人生を変えるフリマアプリ
  %p.firstVisual__content__text
    FURIMAはだれでもかんたんに出品・購入できる
    %br/
    フリマアプリです
  .firstVisual__content__btn
    = link_to image_tag('material/img/apple_btn.png'), '#', class:'apple'
    = link_to image_tag('material/img/google-play-badge.png'), '#', class:'google'
  .picture