%h2.headpart FURIMAの特徴
.features
  %section.feature
    %figure.feature__img
      %img{ src: "assets/material/icon/icon-01.png"}/
    %h3.feature__subtitle 簡単に売り買いできる
    %p.feature__detail
      スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
  %section.feature
    %figure.feature__img
      %img{ src: "assets/material/icon/icon-03.png"}/
    %h3.feature__subtitle 売上金は即日振込みに対応
    %p.feature__detail
      午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
  %section.feature
    %figure.feature__img
      %img{ src: "assets/material/icon/icon-04.png"}/
    %h3.feature__subtitle 様々な支払いに対応
    %p.feature__detail
      お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。