%h2.secondVisual__subtitle
  FURIMAが選ばれる3つの理由
%ul.secondVisual__reasonLists
  %li.reasonList
    .reasonList__pict
      %span.number 1
      = image_tag('material/pict/pict-reason-01.jpg')
    %h3.reasonList__text
      %span 3分
      ですぐに出品
    %p.reasonList__description
      スマホで入力するだけで簡単に出品できる！
  %li.reasonList
    .reasonList__pict
      %span.number 2
      = image_tag('material/pict/pict-reason-02.jpg')
    %h3.reasonList__text
      %span シンプル
      で使いやすい
    %p.reasonList__description
      めんどくさい入力は必要なく、検索も購入もスムーズ！
  %li.reasonList.reasonList--last
    .reasonList__pict
      %span.number 3
      = image_tag('material/pict/pict-reason-03.jpg')
    %h3.reasonList__text
      手数料
      %span 業界最安
    %p.reasonList__description
      最大3%でお得に出品&amp;購入！