.inner
  %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
  %p.inner__text 今すぐ無料ダウンロード！
  .inner__icon
    %a{ href: "#"}
      %img.linkIcon.apple{ src: "assets/material/img/app.download.svg"}/
    %a{ href: "#"}
      %img.linkIcon.google{ src: "assets/material/img/google-play-badge.png"}/