%h2.head ピックアップブランド
.product
  .product__head
    %a{ href: "#"}
      %h3.title アーカイバ
  .product__lists
    .productTopic
      %a{ href: "/products/8"}
        %figure.productTopic--img
          %img{ src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG"}/
        .productTopic--body
          %h3.name ee
          .details
            %ul
              %li 1000円
              %li
                %i.fa.fa-star.likeIcon
                0
            %p (税込)
    .productTopic
      %a{ href: "/products/3"}
        %figure.productTopic--img
          %img{ src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}/
        .productTopic--body
          %h3.name product3
          .details
            %ul
              %li 30000円
              %li
                %i.fa.fa-star.likeIcon
                0
            %p (税込)
    .productTopic
      %a{ href: "/products/2"}
        %figure.productTopic--img
          %img{ src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"}/
        .productTopic--body
          %h3.name product2
          .details
            %ul
              %li 20000円
              %li
                %i.fa.fa-star.likeIcon
                0
            %p (税込)
    .productTopic
      %a{ href: "/products/1"}
        %figure.productTopic--img
          %img{ src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"}/
        .productTopic--body
          %h3.name product1
          .details
            %ul
              %li 10000円
              %li
                %i.fa.fa-star.likeIcon
                1
            %p (税込)