.thirdVisual__inner
  %h2.thirdVisual__inner__subtitle 会員数日本一位
  %p.thirdVisual__inner__text
    FURIMAは、フリマアプリで最も人気。
    %br/
    出品・購入回数も業界最多です！
    %br/
    ほしかったあの商品に出会えるかもしれません。
  .thirdVisual__inner__btn
    = link_to image_tag(asset_path('material/img/apple_btn.png')), '#', class:'apple'
    = link_to image_tag(asset_path('material/img/google-play-badge.png')), '#', class:'google'